@model WPWI.Models.ViewModels.DashboardVM

<section>
    <div>
        <a class="float-right btn  btn-outline-info" asp-action="AddWedding" asp-controller="Wedding">
            Add Wedding
        </a>
        <table class="table table-dark table-hover table-bordered border-info text-info">
            <thead>
                <tr>
                    <th>Wedding</th>
                    <th>Date</th>
                    <th>Guests</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wedding in Model.WeddingsList)
                {
                    if (wedding == null)
                    {
                        <tr>
                            <td>Nothing here to see!</td>
                            <td>Nothing here to see!</td>
                            <td>Nothing here to see!</td>
                            <td>Nothing here to see!</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                <a asp-action="ShowWedding"
                           asp-controller="Wedding"
                           asp-route-id="@wedding.WeddingId">
                                    @wedding.WedderOne & @wedding.WedderTwo
                                </a>
                            </td>

                            <td>@wedding.WeddingDate</td>
                            <td>
                                @if (@wedding.RSVP == null)
                                {
                                    <p> No Body love you yet!</p>
                                }
                                else
                                {
                                    @wedding.RSVP.Count
                                }
                            </td>
                            @if (User.IsInRole("Planner") && User.Identity.Name == wedding.AppUser.Email)
                            {
                                <td> <a asp-action="Delete" asp-controller="Wedding" asp-route-id="@wedding.WeddingId">Delete</a> </td>
                            }
                            else
                            {
                                <td>rsvp</td>
                            }
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</section>
